@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #f0f0f0;
    height: 100vh;
}
.one{
    display: flex;
}
.fs{
    height: 180px;
    width: 150px;
    margin-left: 100px;
    margin-top: 120px;
    background-image: url(The\ Real\ Hero\ of\ India\'s\ Freedom_\ Veer\ Bhagat\ Singh\ -\ Realbharat.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.mid{
    height: 180px;
    width: 880px;
    margin-left: 30px;
    margin-top: 120px;
    background-image: url(Bhagat\ Singh\ \(\ Idol\ board\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.two{
    display: flex;
}
.cont{
    /* background-color: lightskyblue; */
    height: 200px;
    width: 700px;
    margin-left: 130px;
    margin-top: 20px;
    /* text-align: center; */
}
.cont h1{
    font-size: 50px;
    word-spacing: 30px;
    font-family: 'Merriweather', serif; 
}
.cont p{
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}
.bs{
   margin-top: -370px;
   margin-left: 25px;
}
.contanier{
    display: flex;
    height: 100vh;
}
.pho img{
    height: 500px;
    width: 380px;
    margin-left: 100px;
    margin-top: 45px;
}
.cont2{
    margin: 45px 80px 0px 100px;
}
.cont2 h2{
    font-size: 25px;
    padding-top: 120px;
    font-family: "Oswald", sans-serif;
}
.cit{
    padding-left: 400px;
    font-size: 20px;
}
.cont2 p{
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.container2{
    display: flex;
    height: 100vh;
}
.cont3{
    margin: 45px 80px 0px 100px;
}
.cont3 h2{
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Merriweather', serif;
}
.cont3 p{
    font-family: 'Roboto', sans-serif;
}
#para1{
    margin-top: 20px;
}
.pho2 img{
    height: 500px;
    width: 380px;
    margin-right: 90px;
    margin-top: 45px;
}
.container3{
    height: 60vh;
    width: 96vw;
    margin-left: 20px;
    display: flex;
    /* background-color: #f0f0f0; */
    background: #f0f0f0;
    color: #222;
    /* border-top: 6px solid #ff9933; */
}
.fis{
    height: 200px;
    width: 200px;
    margin: -20px 0px 0px -20px;
    background-color: transparent;
    border-top: 20px solid #ff9933;
    border-left: 20px solid #ff9933;
}
.trib{
    display: flex;
    width: 870px;
}
.pho3 img{
    height: 300px;
    margin: 30px 0px 0px -20px;
}
.quot{
    margin-top: 120px;
    margin-left: 90px;
}
.quot h2{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}
#fn{
    padding-left: 400px;
}
.sec{
    height: 200px;
    width: 200px;
    background-color: transparent;
    margin: 180px -20px 0px 00px;
    border-right: 20px solid #ff9933;
    border-bottom: 20px solid #ff9933;
}